#main{
	background-image: url("../images/MainBG.jpg");
	background-size: 100% 100%;
	overflow: hidden;
	height: 800px;
    width: 800px;
    position: relative;
    margin: auto;
}

#main div{
	font-size: 20px;
}

#start p {
	text-align: center;
    font-family: Herculanum;
    color: black;
    font-size: 25px;


}

#start{
	text-align: center;
	background-size: 100% 100%;
	height: 800px;
	width: 800px;
    position: relative;
    margin: auto;
}
#title{
	font-family: luminari;
}
#playAgain{
	border-radius: 15px;
    font-family: Herculanum;
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-size: 20px;
}


#startGame{
	border-radius: 10px;
    background-color: aqua;
    border: solid;
    font-family: Herculanum;
    font-size: 18px;

}

#finish{
	background-image: url("../images/EndBG.png");
	background-size: 100% 100%;
	overflow: hidden;
	height: 800px;
    width: 800px;
    position: relative;
    margin: auto;
    border-radius: 30px;
/*    visibility: hidden;*/
}

#finish div{
	text-align: center;
	font-size: 60px;
}

#highscores{
	font-size: 30px;
}

#over{
	font-family: luminari;
    color: white;
    font-size: 50px;

}
div h2{

    text-align: center;
    margin: auto;
    display: inline-block;
    position: relative;
    left: 305px;
    color: white;
    font-family: Herculanum;


}

#finish p{

	text-align: center;
    color: white;
    font-family: Herculanum;
    font-size: 25px;
}
#finalScore{

}

body h1{
	text-align: center;
}

#start{
	background-image: url("../images/MainBG.jpg");
}


.easyTarget{

	position: absolute;
    height: 100px;
    width: 70px;
    display: inline-block;
}

.hardTarget{
	position: absolute;
    height: 40px;
    width: 40px;
    display: inline-block;

}
#target0{

    bottom: -100px;
}

#target1{

    bottom: -100px;
    right: 100px;
}


#target2{

    bottom: -35px;
    right: 300px;
}

#target3{
	bottom: -35px;
    right: 540px;

}

#target4{

	left: -35px;
    bottom: 140px;
}

#target5{

	left: -35px;
    bottom: 325px;
}

#target6{

	left: -70px;
    bottom: 420px;
}

#target7{

    bottom: 540px;
    left: -70px;
}

#target8{

	left: -70px;
}

#target9{

    left: -72px;
    bottom: 210px;
}

#target10{

	right: -70px;
}

#target11{

	right: -35px;
    bottom: 130px;
}


#target12{

	right: -35px;
    bottom: 350px;
}

#target13{

	right: -35px;
    bottom: 635px;

}

#target14{

	right: -75px;
    bottom: 210px;

}

#target15{

	right: -75px;
    bottom: 445px;
}

#target16{

	bottom: -35px;
    left: 800px;
}
