#main{
	background-image: url("../images/mainBG.jpg");
	/*overflow: hidden;*/
	height: 600px;
    width: 600px;
    position: relative;
    margin: auto;
}

#finish{
	background-color: green;
	/*overflow: hidden;*/
	height: 600px;
    width: 600px;
    position: relative;
    margin: auto;
    border-radius: 30px;
/*    visibility: hidden;*/
}
body h1{
	text-align: center;
}

.easyTarget{

	position: absolute;
    height: 100px;
    width: 70px;
    display: inline-block;
}

.hardTarget{
	position: absolute;
    height: 35px;
    width: 35px;
    display: inline-block;

}
#target0{

    bottom: -100px;
}


#target1{

    bottom: -100px;
    right: 100px;
}


#target2{

    bottom: -100px;
    right: 300px;
}

#target3{

	left: -35px;
    bottom: 260px;
}


#score{

}

