#main{
	background-color: red;
	/*REMEMBER TO BLOCK OVERFLOW*/
	height: 600px;
    width: 600px;
    position: relative;
    margin: auto;
}

body h1{
	text-align: center;
}

#target0{
	position: absolute;
    height: 100px;
    width: 70px;
    display: inline-block;
    bottom: -100px;
}

#target1{
	position: absolute;
    height: 100px;
    width: 70px;
    display: inline-block;
    bottom: -100px;
    right: 100px;
}


#target2{
	position: absolute;
    height: 100px;
    width: 70px;
    display: inline-block;
    bottom: -100px;
    right: 300px;
}

#score{


}